/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* top-banner */
.banner{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
}
.top-banner:hover{
    transform: scale(1.1);
}
.top-banner{
    
    display: flex;
    justify-content: space-between;
}
.Banner-title{
    margin-top: 250px;
    margin-left: 200px;

}
.title{
    color: white;
    width: 230px;
    height: 100pxpx;
    border-bottom: 0;
    padding-bottom: 0;
    
}
.watch-live{
    font-weight: 700;

    background-image: linear-gradient(tomato,yellow);
    color: white;
    height: 30px;
    width: 100px;
    padding-top: 10px;
    margin-top: 0;
}
.banner-img{
    width: 556px;
    height: 438;
    margin-top: 140px;
    margin-right: 100px;
}
/* Player-section */
.player-image img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.player-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    
}
.player{
    width: 330px;
    height: 475px;
   
    box-shadow: 5px 5px 10px  whitesmoke;
    border: 1px solid rgba(71, 68, 68, 0.459);
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}
/* bottom-section */


.social-icon{
    width: 170px;
    height: 32px;
    margin-left: 200px;
}
.bottom-center{
    align-items: center;
}
footer{
    align-items: center;
}

/* Media-Quearry */
/* Mobile Device */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .top-banner, .player-list {
       
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .Banner-title{
        flex-direction: column;
    }
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .container{width: 100%;}
    .top-banner, .player-list{
       grid-template-columns: repeat(1, 1fr);
    }
    
}